<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title></title>
        
        <link href="css/sidebar.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/createAssessment.js"></script>
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
    </head>
    <body onload="assessmentOnLoad()">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#menu-toggle" id="menu-toggle">CS Assess</a> 
				</div>
				<form class="navbar-text navbar-right" style="float: right">
					<a href="user_profile.html" style=";font-size: 20px; color:#ffffff; padding-right: 20px; text-decoration: none"> Testy Jones         </a>
					<a href="login.html" style="font-size: 14px"> (Logout) </a>
				</form>
			</div><!--/.navbar-collapse -->
		</nav>

        <!-- The navbar on the right side -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="index.html"> Home </a></li>
				<li><a href="#"> My Profile </a></li>
				<li><a href="#"> CS402 - Morrison </a></li>
				<li><a href="#"> CS404 - Boyarsky </a></li>
				<li><a href="#"> AS305 - Miller </a></li>
				<li><a href="#"> Question Database </a></li>
				<li>
					<ul>
						<li><a href="#">View Question </a></li>
						<li><a href="addQuestion.html"> Add Question </a></li>
					</ul>
				</li>
				<li><a href="#"> Practice </a></li>
			</ul>
			</div>
		<div id="wrapper">	
            <div id="page-conent-wrapper">
                <h2 align="center"> Create an Assessment </h2>
                <div class="container"> 
                   <div class="col-md-2">
                        <select class="practiceElement" id="assesmentType" name="assessmentTypeSelect">
                            <option value="default" selected="selected"> Assessment Type </option>
                            <option value="test">Test</option>
                            <option value="quiz">Quiz</option>
                        </select>
                    </div>
                    <div class="col-md-2" id="sectionSelect">
                    </div>
                    <div class="col-md-2" id="topicSelect">
                    </div>
                    <div class="col-md-2">
                        Difficulties(s)
                    </div>
                    <div class="col-md-2">
                        # of Questions
                    </div>
                </div>
                </div>
            </div>
        <footer>
        <p>&copy; NCSSM CS 2015</p>
      </footer>
    </body>
</html>
